footer {
    display: block;
    width: 100%;
    background-color: rgba($dark-grey, .3);
}

.footer-wrap {
    padding: 20px 0;
}

.social {
    margin-bottom: 10px;
    a {
        font-size: 16px;
    }
    a:not(:last-child) {
        margin-right: 10px;
    }
}

.sitemap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        flex-flow: row wrap;
        font-size: 0;
        li {
            a {
                display: inline;
            }
            &:not(:last-child):after {
                content: '|';
                padding: 0 5px;
                font-size: 16px;
                font-weight: 900;
                color: $white;
            }
        }
    }
    span {
        white-space: nowrap;
        a {
            display: inline;
            margin-left: 5px;
        }
    }
}

@media (max-width: 767px) {
    .sitemap {
        flex-direction: column;
        align-items: flex-start;
        ul {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}